<div class="container">
  <div class="row">
    <div class="col">
      <div class="show-banner">
        <%= cl_image_tag(@flat.photo,
      width: 400, height: 300, crop: :fill) %>
      </div>
    </div>
    <div class="col">
      <div class="flat_description">
      <h1><%= @flat.title %></h1>
      <h1><%= @average %></h1>
       <div class="rating">
        <% if @reviews.any? %>
          <% average = @reviews.pluck(:rating).sum / @reviews.size %>
          <h1><span><%= '★' * average %></span></h1>
        <% end %>
      </div>
      <h3><i class="fas fa-user"></i>  <%= @flat.guests_nr %></h3>
      </div>
      <p><%= @flat.description %></p>
    </div>
  </div>
  <%= link_to "Back to Search Results", flats_path %>
  <div class="row row-review">
    <div class="col">
      <div class="reviews">
        <h1>Reviews</h1>
        <% @reviews.each do |review| %>
        <ul style="list-style: none;">
        <li>Rating: <%= review.rating %>/5</li>
        <li><%= review.content %></li>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="booking_form">
        <h2>New Booking</h2>
          <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <%= simple_form_for [@flat, @booking], url: flat_bookings_path(@flat), method: :post do |f| %>
             <%= f.input :check_in, as: :string, required: false, input_html: {class: "datepicker"} %>
             <%= f.input :check_out, as: :string, required: false, input_html: {class: "datepicker"} %>
             <%= f.input :guests_nr %>
            <%= f.button :submit, class: "btn btn-primary" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>




