

<div class="home-banner">
  <h1></h1>

</div>
<h1><%= @flat.title %></h1>
<h3><%= @flat.description %></h3>

<%= link_to "Back to all flats", flats_path %>


<h2 class="bg-info">New Booking</h2>



<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  <%= simple_form_for [@flat, @booking], url: flat_bookings_path(@flat), method: :post do |f| %>
     <%= f.input :check_in, as: :string, required: false, input_html: {class: "datepicker"} %>
     <%= f.input :check_out, as: :string, required: false, input_html: {class: "datepicker"} %>
     <%= f.input :guests_nr %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<h1 class="bg-info">Reviews</h1>
<% @reviews.each do |review| %>
<%= review.content %>
<%= review.rating %>
<% end %>
