<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "⇦", flats_path, class: "nav-item btn btn-ladle pt-2 mb-3 mt-3" %>
      <div class="show-banner">
        <%= cl_image_tag(@flat.photo,
      width: 520, height: 400, crop: :fill) %>
      </div>
    </div>
    <div class="col">
      <div class="flat_description">
      <h1><%= @flat.title %></h1>
      <h1><%= @average %></h1>
       <div class="rating">
        <% if @reviews.any? %>
          <% average = @reviews.pluck(:rating).sum / @reviews.size %>
          <h1><span><%= '★' * average %></span></h1>
        <% end %>
      </div>
      <h3><i class="fas fa-user"></i>  <%= @flat.guests_nr %></h3>
      </div>
      <p><%= @flat.description %></p>
    </div>
  </div>
  <div class="row row-review">
    <div class="col">
      <div class="reviews overflow-auto">
        <h2>Reviews</h2>
        <% @reviews.each do |review| %>
        <ul class="review" style="list-style: none;">
        <li>Rating: <%= review.rating %>/5</li>
        <li><%= review.content %></li>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="booking-form">
      <%= render 'bookings/new_booking' %>
      </div>
    </div>
  </div>
</div>




