<h2>New Booking</h2>



<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  <%= simple_form_for [@flat, @booking], url: flat_bookings_path(@flat), method: :post do |f| %>
     <%= f.input :check_in, as: :string, required: false, input_html: {class: "datepicker"} %>
     <%= f.input :check_out, as: :string, required: false, input_html: {class: "datepicker"} %>
     <%= f.input :guests_nr %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

