<div class="banner">
  <div class="banner-text">
    <h3 id="maintitle"><strong>Find a perfect place to stay</strong></h3>
    <div class="wrap">
   <div class="search">

    <%= form_tag flats_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "searchTerm",
      placeholder: " Look for amazing places..."
      %>
      <div class="search">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    <% end %>
    </div>
    </div>
  </div>
</div>

<div class="icons-container">
  <div class="icons">
    <div class="icon">
      <h2>Find your place</h2>
      <i class="fas fa-search-location fa-4x"></i>
    </div>
    <div class="icon">
       <h2>Rent your home</h2>
      <i class="fas fa-home fa-4x"></i>
    </div>
    <div class="icon">
      <h2>Enjoy your stay</h2>
      <i class="fas fa-heart fa-4x"></i>
    </div>
  </div>
</div>



<div class="cards-container-home">
  <% @flats[0..5].each do |flat| %>
    <div class="card-trip-home">
      <%= cl_image_tag(flat.photo,
      width: 400, height: 300, crop: :fill) %>
      <div class="card-trip-infos-home">
        <div>
          <h2><%= flat.title %></h2>
          <p><%= flat.address %></p>
          <%= link_to "View Details", flat_path(flat) %>
        </div>
        <h2 class="card-trip-pricing-home">€<%= flat.price %>/night</h2>
      </div>
    </div>
    <% end %>
</div>


  <div class="footer">
    <p><%= image_tag "logo1.png", :size => "90x60" %></p>
  </div>
</div>
